* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sens-serif;
    baskground-color: rgb(255, 0, 0);
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #5fcc90;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

P {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 15px;
}

